@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
/* Font */
$font-primary: "Libre Baskerville", serif;

/* Colors: */
$black: #000000;
$dark_grey: #7d7d7d;
$alt_grey: #e5e5e5;
$light_grey: #f3f3f3;
$white: #ffffff;
